:root {
  --primary-color: #e885cc;
  --secondary-color: #5f9991;
  --accent-color: #3d64d9;
}

body {
  background-color: #191919;
  font-family: "Arial", sans-serif;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  color: var(--secondary-color);
}

.navigation-links a {
  margin: 20px;
}

.navbar-toggler {
  color: aliceblue;
}

a {
  color: var(--accent-color);
}

.bg-e885cc {
  background-color: #e885cc;
}
//hero

.hero {
  background-color: #191919;
  padding: 100px 0;
  height: 100vh;
}

.container-xl {
  max-width: 1200px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
}

.introduction {
  font-size: 100px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-top: 320px;
  margin-bottom: 20px;
  color: #eceada;
}

.sub-intro {
  font-size: 40px;
  color: var(--accent-color);
}

//about
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-8 {
  flex: 0 0 1500px;
  padding: 20px;
  background-color: #eceada;
  border: 2px solid #333333;
}

.col-6.col-md-4 {
  flex: 0 0 700px;
  padding: 20px;
  background-color: #e995ce;
  border: 2px solid #333333;
}

h2 {
  font-size: 4vw;
  color: var(--secondary-color);
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-left: 40px;
  text-align: center;
}

.about-me {
  font-size: 1.8vw;
  display: flex;
  justify-content: center;
  padding: 10px 30px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

//contact

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-6 {
  flex: 0 0 50%;
  padding: 20px;
  color: #fff;
}

.col-6:first-child {
  background-color: #5f9991;
  border-right: 3px solid #191919;
}

.col-6:last-child {
  background-color: #e885cc;
}

.form-heading,
.info-heading {
  font-size: 24px;
  color: #eceada;
  text-align: center;
}

.form-message,
.info-container-msg,
.my-email,
.connect {
  color: #fff;
  text-align: center;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: center;
  border: none;
  background-color: #2b2b2b;
  color: #fff;
}

.form-heading {
  text-align: center;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #eceada;
}

.form-message {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
}

.info-heading {
  color: #eceada;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
  margin-top: 0;
  text-align: center;
}

.info-container-msg {
  text-align: center;
  font-size: 16px;
  color: black;
}

.email {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  color: #000000;
}

.my-email {
  text-decoration: none;
}

.my-email:hover {
  color: #eceada;
}

.connect {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  margin: 0;
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: #fff;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: #191919;
  padding: 10px 20px;
  border: none;
  gap: 30px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  border: 2px solid #333333;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
}

input[type="submit"]:hover {
  background-color: #eceada;
  color: #191919;
  box-shadow: 0 0 #333;
  color: #fff;
  background-color: #333;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-media a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #000000;
  text-decoration: none;
  border-radius: 50%;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.social-media a:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.social-media a:active {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.coder {
  color: #bf2e97;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

footer {
  background-color: #eceada;
  text-align: center;
  padding: 20px;
  margin-top: 400px;
}

.coder {
  color: #bf2e97;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

footer {
  background-color: #eceada;
  text-align: center;
  padding: 20px;
  margin-top: 400px;
}
